* {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#query {
  margin: 40px 100px 24px;
}

#browse {
 margin: 100px 100px 24px;
}

.container {
  margin: 12px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nytArticle {
  margin: 12px auto;
  width: 400px;
  height: 120px;
  border-style: solid;
  padding: 20px;
}